// main titles, text and icons
$primary_dark: #393939;
$primary_white: #f7f7f7;


// links
$primary_light: #4e4e4e;

// labels
$label_purple: #9B00FF;

// borders
$borderGray: #D1D5DA;

// errors
$error: #bb0000;
$error2: #cc0000;


// backgrounds
$dark_bg: #001f3A;
$purple_bg: #9B00FF;

// actions
$positive: #254C26;
$negative: #AD3B3B;


// all colors
$purple: #9B00FF;

