.nav-simple {
  height: 50px;
  width: 100%;
  padding: 4px 16px;
  background-color: #040505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Roboto";
  font-family: "Roboto-regular";
}

.nav-simple .identity {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px;
}

.nav-simple .identity .logo {
  background-color: #040505;
  max-width: 120px;
  max-height: 30px;
  border: none;
  margin: 0 8px 0 0;
}

.nav-simple .identity span {
  color: white;
  font-size: 30px !important;
  line-height: 24px;
  font-weight: 700;
}

.nav-simple .identity span strong {
  font-size: 30px !important;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-simple .nav-list {
  list-style: none;
  justify-self: right !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
}

.nav-simple .nav-list .nav-list-item {
  text-transform: none;
  font-size: 16px;
  margin: 0 16px;
}

.nav-simple .icon-perfil .user-icon {
  height: 70px;
  position: relative;
  margin-left: 70vw !important;
  margin-right: 0px;
  padding-right: 0%;
  margin-top: 5px;
}

.nav-simple button {
  margin-right: 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  max-height: 40px;
  padding: 8px 10px;
  text-align: center;
  color: white;
  line-height: 24px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-simple button i {
  color: white;
  font-size: 16px;
}

.nav-simple button span {
  color: white;
  margin: 0 px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-simple button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.nav-withList {
  max-height: 70px;
  width: 100%;
  padding: 4px 16px;
  background-color: #040505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto-regular";
}

.nav-withList .identity .logo {
  max-width: 120px;
  max-height: 70px;
  border: 1px solid white;
}

.nav-withList .nav-list {
  list-style: none;
  justify-self: right !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
}

.nav-withList .nav-list .nav-list-item {
  text-transform: none;
  font-size: 16px;
  margin: 0 16px;
}

.nav-withList .user-icon {
  height: 24px;
  margin: 0 8px;
}

.nav-withList button {
  margin: 0 0 0 32px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  max-height: 45px;
  padding: 8px 16px;
  text-align: center;
  color: white;
  line-height: 24px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-withList button i {
  color: white;
  font-size: 16px;
}

.nav-withList button span {
  color: white;
  margin: 0 8px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-withList button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.favorites {
  margin-left: 65vw;
  position: absolute;
}

.library {
  margin-left: 73vw;
  position: absolute;
}

.btn.btn-secondary.dropdown-toggle {
  border: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-left: 0px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.voltar {
  color: blueviolet;
  font-size: 20px;
  margin-left: 20px;
}

a.voltar:hover {
  color: blueviolet;
  font-size: 20px;
  text-decoration: none;
}

.big-title,
.subtitle {
  color: white;
  margin-left: 37vw !important;
  margin-top: 20px;
}

.image-podcast {
  height: 150px;
  margin-left: 400px;
  margin-top: -120px;
  position: absolute !important;
  width: 150px;
}

.legenda {
  color: white;
  margin-left: 400px;
  margin-top: 50px;
  position: absolute !important;
}

.info {
  color: white;
  font-size: 25px;
  margin-left: 400px;
  margin-top: 15vh !important;
  position: absolute;
}

.titulo,
.descricao,
.tag {
  color: white;
}

.container {
  margin-left: 25vw !important;
  margin-top: 25vh;
  width: 20vw !important;
}

.btn.enviar {
  background-color: blueviolet;
  color: white;
  margin-left: 85vw !important;
  margin-top: -30px;
}

.dropdown.qualidade {
  margin-left: 65vw !important;
  margin-top: -8vh !important;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: transparent;
  border: 1px solid blueviolet;
  width: 340px;
  height: 370px;
  margin-left: 50vw;
  margin-top: -50vh;
  position: relative;
}

.file-upload:hover {
  background: rgba(137, 43, 226, 0.267);
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
    color: white !important;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed blueviolet;
  position: relative;
}

.audio-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h5 {
  font-weight: 100;
  text-transform: uppercase;
  color: blueviolet;
  padding: 60px 0;
}

.drag-text h5 :hover{
    color: white;
  }

.file-upload-audio {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-audio {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-audio:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-audio:active {
  border: 0;
  transition: all 0.2s ease;
}
