.roboto_regular_base {
  font-family: 'roboto_regular';
  color: #000;
}

.title {
  @extend .roboto_regular_base;
  font-size: 48px;
}

.body {
  @extend .roboto_regular_base;
  font-size: 16px;
}

.caption {
  @extend .roboto_regular_base;
  font-size: 12px;
}

.overline {
  @extend .roboto_regular_base;
  font-size: 10px;
}