// MAIN FILE SCSS

@import './__mixins.scss';
@import './__fonts.scss';
@import './__colors.scss';
@import './__typography.scss';
@import './__globals.scss';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");


.d-none {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jus-con-between {
  justify-content: space-between;
}

.al-it-center {
  align-items: center;
}

.dark-btn {
  background-color: $dark_bg;
  color: #fff;

  &:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.01);
  }
}


.light-btn {
  background-color: #fff;
  color: #000;

  &:hover {
    cursor: pointer;
    color: #696969;
    transform: scale(1.01);
  }
}
.regular-btn {
  min-height: 45px;
  min-width: 150px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0 8px;
}

.transparent-btn {
  background-color: transparent !important;
}

.app-page {
  background-color: $primary_dark;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

// nav simple
.nav-simple {
    height: $nav_height;
    width: 100%;
    padding: 4px 16px;
    background-color: $dark_bg;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';

    font-family: 'Roboto-regular';

    .identity {
      // background-color: white !important;
      // border: 1px solid white;
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      // height: 45px;

      .logo {
        background-color: $dark_bg;
        max-width: $nav_logo_height;
        max-height: $nav_height;
        border: 1px solid white;
        margin: 0 8px 0 0;
      }

      span {
        font-size: 30px !important;
        line-height: 24px;
        font-weight: 400;

        strong {
          font-size: 30px !important;
          line-height: 24px;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }

    .nav-list {
      list-style: none;
      justify-self: right !important;
      display: inline-flex;
      margin-left: auto;

      .nav-list-item {
        text-transform: none;
        font-size: 16px;
        margin: 0 16px;
      }
    }

    .user-icon {
      height: $icon_size2;
      margin: 0 8px;
      // align-self: center;
    }

    button {
        // justify-self: flex-end;
        margin: 0 0 0 32px;
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        max-height: $btn_height;
        padding: 8px 16px;
        text-align: center;
        color: white;
        line-height: 24px;
        align-self: center;
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

        i {
          color: white;
          font-size: 16px;
        }

        span {
          color: white;
          margin: 0 8px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1px;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.01);
        }
    }
}

//nav 2
.nav-withList {
  max-height: $nav_height;
  width: 100%;
  padding: 4px 16px;
  background-color: $dark_bg;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // justify-content: space-between;

  font-family: 'Roboto-regular';

  .identity {
    // background-color: white !important;

    .logo {
      max-width: $nav_logo_height;
      max-height: $nav_height;
      border: 1px solid white;
    }
  }

  .nav-list {
    list-style: none;
    justify-self: right !important;
    display: inline-flex;
    margin-left: auto;

    .nav-list-item {
      text-transform: none;
      font-size: 16px;
      margin: 0 16px;
    }
  }

  .user-icon {
    height: $icon_size2;
    margin: 0 8px;
    // align-self: center;
  }

  button {
      // justify-self: flex-end;
      margin: 0 0 0 32px;
      background: transparent;
      border: 2px solid white;
      border-radius: 5px;
      max-height: $btn_height;
      padding: 8px 16px;
      text-align: center;
      color: white;
      line-height: 24px;
      align-self: center;
      transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

      i {
        color: white;
        font-size: 16px;
      }

      span {
        color: white;
        margin: 0 8px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.01);
      }
  }
}

.footer {
  height: $footer-height;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}


.section {
  // height: 100vh;
  // border: 1px solid red;
  background-color: $purple_bg;
  padding: 32px;
  position: relative;
  font-family: 'Roboto', sans-serif;

  .container {
    // position: absolute;
    // top: 30%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    .content {
      // border: 1px solid white;
      // margin: 0 0 32px 0;
      // padding: 8px;
      // display: flex;
      // flex-flow: column;
      // align-items: flex-start;
      // height: 700px;

      .big-title {
        font-weight: lighter;
        strong {
          
        }
      }

      span, p {
        color: white;
        text-align: left;
      }
    }
  
    .media-row {
      display: flex;
      flex-flow: row;

      .media-row-item {
        min-width: 220px;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 32px;

        .row-item-icon {
          // border: 1px solid white;
          height: 32px;
          font-size: 32px;
        }

        .row-item-text {
          // border: 1px solid green;
          text-align: center;
          margin: 16px 0 0 0;
        }
      }
    }
  }
}

.img-background {
  background-image: url(../img/bg.png) !important;
  background-size: cover;
}

.landing-template {
  font-family: 'Roboto', sans-serif;

  nav {
    background-color: $soft_gray_bg;
    .identity {
      font-family: 'Roboto', sans-serif;

      svg {
        height: 60px;
        margin: 0 8px 0 0;
      }
    }
  }

  #section1 {
    position: relative;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;

    .container {
      position: none;
      color: black;
      max-height: 650px;
      min-width: 350px;
      max-width: 700px;
      padding: 32px;
      border-radius: 5px;

      .content {
        width: 100%;
        min-width: 350px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        align-self: center;
        // border: 1px solid red;
        padding: 0;
        position: relative;

        .big-title {
          font-size: 65px;
          line-height: 68px;
          margin: 0 0 16px 0;
        }

        .subtitle {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1px;
          margin: 0 0 32px 0;
        }

        .p {
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          letter-spacing: 1px;
          margin: 0 0 32px 0;
        }
      }

      .media-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin: 32px 0 0 0;

        .media-row-item {
          min-width: 120px;
          display: flex;
          flex-flow: column;
          align-items: center;
          margin: 0 32px;

          &:hover {
            cursor: pointer;
            transform: scale(1.03);
          }
  
          .row-item-icon {
            // border: 1px solid white;
            height: 32px;
            font-size: 32px;
            color: white;
          }
  
          .row-item-text {
            // border: 1px solid green;
            text-align: center;
            margin: 16px 0 0 0;
            color: white;
          }
        }
      }
    }
  }

  #section2 {
    position: relative;
    // background-color: $dark_bg;
    background-color: $soft_gray_bg;
    // background-image: linear-gradient(180deg,  $purple_bg 0%, #e2e1e1 74%);
    padding: 32px;
    position: relative;
    height: 900px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    // justify-content: center;
    padding: 32px;

    .container {
      margin: 64px 0 0 0;
      width: 100%;

      .identity {
        font-size: 64px;
        align-items: center;

        .logo {
          // background-color: black;
        }

        span {
          margin: 0 0 0 16px;
        }
      }

      .content {
        margin: 32px 0 0 0;
        max-width: 700px;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
        line-height: 22px;
        align-self: center;
        padding: 8px;

        .p {
          margin: 8px 0 16px 0;
        }
      }

      .gallery {
        margin: 32px 0 0 0;

        .media-box {
          position: relative;
          height: 120px;
          width: 120px;
          border: 1px solid $purple;
          border-radius: 5px;
          margin: 0 8px;
          background-image: url(../img/card_img.png);
          background-size: cover;

          &::after {
            content: 'play';
            // clip-path: polygon(100% 53%, 0 0, 0 100%);
            // width: 50px;
            // height: 70px;
            padding: 16px 8px;
            border: 1px solid $purple;
            border-radius: 60%;
            background-color: $purple_bg;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, 0);            
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.03);
          }

        }
      }
    }

    .footer {
      background-color: $primary_dark;
      width: 100%;
      justify-content: center;
      // margin: 0 0 16px 0;

      
    }
  }

}

.login-template {
  font-family: 'Roboto', sans-serif;

  nav {
    background-color: $soft_gray_bg;
    .identity {
      font-family: 'Roboto', sans-serif;

      svg {
        height: 60px;
        margin: 0 8px 0 0;
      }
    }
  }

  #section1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;

    .container {
      position: none;
      background-color: #fff;
      color: black;
      max-height: 650px;
      min-width: 350px;
      max-width: 450px;
      padding: 32px;
      border-radius: 5px;

      .content {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-self: center;
        // border: 1px solid red;
        padding: 0;
        position: relative;
        
        span {
          color: black;
        }

        .title {
          font-weight: 500;
          font-size: 32px;
          // letter-spacing: 1px;
          line-height: 38px;
          text-align: center;
          margin: 0 0 0 0;
        }

        .subtitle {
          font-weight: 400 !important;
          font-size: 16px;
          // letter-spacing: 1px;
          line-height: 38px;
          text-align: center;
          margin: 0 0 24px 0;
          
        }

       .input-content {
          width: 100%;

          span {
            font-weight: 400;
            font-size: 14px;
            color: gray;
          }

          input {
            border: 1px solid $gray_light;
            border-radius: 5px;
            // width: 90%;
            margin: 0 0 16px 0;
            padding: 0 8px;
            font-size: 16px;
            color: $gray_light;

            &:focus {
              border-bottom: 1px solid $purple_bg !important;
            }

            &:hover {
              border: 1px solid $purple !important;
            }
          }
       }

        button {
          width: 100%;
          margin: 0 0 16px 0;
          height: 40px;
          border-radius: 5px;
          color: white;
        }

        #btn1 {
          background-color: $purple_bg;
          border: none;
          font-size: 16px;
        }

        .separator {
          height: 1px;
          width: 100%;
          background-color: $gray_light;
          margin: 8px 0 24px 0;
          z-index: 10;
          position: relative;
          
          &::after {
            position: relative;
            content: 'ou';
            top: -8px;
            left: 50%;
            font-weight: 500;
            color: $purple;
            width: 40px;
            background-color: white;
          }
        }

        #btnPublic {
          background-color: #fff;
          border: 1px solid $gray_light;
          color: #000;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            width: 24px;
            height: 24px;
           padding: 4px;
           margin: 0 8px 0 0;
          }

          span {
            line-height: 32px;
          }

          &:hover {
            border: 1px solid $purple !important;
            box-shadow: none;
          }
        }

        .rg-txt {
          font-size: 14px;
          font-weight: 500;
          margin: 16px 0 0 0;
        }

        a {
          color: $purple;
          margin: 0 0 24px 0;

          &:hover {
            transform: scale(1.01);
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    // border: 1px solid pink;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    button {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
}

