// MAIN FILE SCSS

@import './__mixins.scss';
@import './__fonts.scss';
@import './__colors.scss';
@import './__typography.scss';
@import './__globals.scss';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");


.d-none {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jus-con-between {
  justify-content: space-between;
}

.al-it-center {
  align-items: center;
}

.dark-btn {
  background-color: $dark_bg;
  color: #fff;

  &:hover {
    cursor: pointer;
    color: black;
    font-weight: bolder;
  }
}


.light-btn {
  background-color: $dark_bg;
  color: #000;

  &:hover {
    cursor: pointer;
    color: #696969;
    font-weight: bold;
  }
}
.regular-btn {
  min-height: 45px;
  min-width: 150px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 0 8px;
}

.transparent-btn {
  background-color: transparent !important;
}

.app-page {
  background-color: $primary_dark;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

// nav simple
.nav-simple {
    height: $nav_height;
    width: 100%;
    padding: 4px 16px;
    background-color: $dark_bg;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';

    font-family: 'Roboto-regular';

    .identity {
      // background-color: white !important;
      // border: 1px solid white;
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      // height: 45px;

      .logo {
        background-color: $dark_bg;
        max-width: $nav_logo_height;
        max-height: $nav_height;
        border: 1px solid white;
        margin: 0 8px 0 0;
      }

      span {
        font-size: 30px !important;
        line-height: 24px;
        font-weight: 400;

        strong {
          font-size: 30px !important;
          line-height: 24px;
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
    }

    .nav-list {
      list-style: none;
      justify-self: right !important;
      display: inline-flex;
      margin-left: auto;

      .nav-list-item {
        text-transform: none;
        font-size: 16px;
        margin: 0 16px;
      }
    }

    .user-icon {
      height: $icon_size2;
      margin: 0 8px;
      // align-self: center;
    }

    button {
        // justify-self: flex-end;
        margin: 0 0 0 32px;
        background: transparent;
        border: 2px solid white;
        border-radius: 5px;
        max-height: $btn_height;
        padding: 8px 16px;
        text-align: center;
        color: white;
        line-height: 24px;
        align-self: center;
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

        i {
          color: white;
          font-size: 16px;
        }

        span {
          color: white;
          margin: 0 8px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1px;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.01);
        }
    }
}

//nav 2
.nav-withList {
  max-height: $nav_height;
  width: 100%;
  padding: 4px 16px;
  background-color: $dark_bg;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  // justify-content: space-between;

  font-family: 'Roboto-regular';

  .identity {
    // background-color: white !important;

    .logo {
      max-width: $nav_logo_height;
      max-height: $nav_height;
      border: 1px solid white;
    }
  }

  .nav-list {
    list-style: none;
    justify-self: right !important;
    display: inline-flex;
    margin-left: auto;

    .nav-list-item {
      text-transform: none;
      font-size: 16px;
      margin: 0 16px;
    }
  }

  .user-icon {
    height: $icon_size2;
    margin: 0 8px;
    // align-self: center;
  }

  button {
      // justify-self: flex-end;
      margin: 0 0 0 32px;
      background: transparent;
      border: 2px solid white;
      border-radius: 5px;
      max-height: $btn_height;
      padding: 8px 16px;
      text-align: center;
      color: white;
      line-height: 24px;
      align-self: center;
      transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

      i {
        color: white;
        font-size: 16px;
      }

      span {
        color: white;
        margin: 0 8px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.01);
      }
  }
}

.footer {
  height: $footer-height;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}


.section {
  height: 100vh;
  // border: 1px solid red;
  background-color: $purple_bg;
  padding: 32px;
  position: relative;
  font-family: 'Roboto', sans-serif;

  .container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content {
      // border: 1px solid white;
      margin: 0 0 32px 0;
      padding: 8px;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      // height: 700px;

      .big-title {
        font-weight: lighter;
        strong {
          
        }
      }

      span, p {
        color: white;
        text-align: left;
      }
    }
  
    .media-row {
      display: flex;
      flex-flow: row;

      .media-row-item {
        min-width: 220px;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 32px;

        .row-item-icon {
          // border: 1px solid white;
          height: 32px;
          font-size: 32px;
        }

        .row-item-text {
          // border: 1px solid green;
          text-align: center;
          margin: 16px 0 0 0;
        }
      }
    }
  }
}

.img-background {
  background-image: url(../img/bg.png) !important;
  background-size: cover;
}

.landing-template {

  #section1 {
    position: relative;
    height: calc(100vh - $nav_height);
  }

  #section2 {
    position: relative;
    // background-color: $dark_bg;
    background-color: $purple_bg;
    background-image: linear-gradient(180deg,  $purple_bg 0%, #e2e1e1 74%);
    padding: 32px 0;

    .container {
      margin: 64px 0 0 0;
      position: absolute;
      top: 40%;
      height: calc(100vh - $nav_height);
      width: 100%;

      .identity {
        font-size: 64px;
        align-items: center;

        .logo {
          // background-color: black;
        }

        span {
          margin: 0 0 0 16px;
        }
      }

      .content {
        margin: 32px 0 0 0;
        max-width: 700px;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;

        .p {
          margin: 8px 0 16px 0;
        }
      }

      .gallery {
        margin: 32px 0 0 0;

        .media-box {
          position: relative;
          height: 120px;
          width: 120px;
          border: 1px solid $purple;
          border-radius: 5px;
          margin: 0 8px;

          &::after {
            content: 'play';
            // clip-path: polygon(100% 53%, 0 0, 0 100%);
            // width: 50px;
            // height: 70px;
            padding: 16px 8px;
            border: 1px solid $purple;
            border-radius: 60%;
            background-color: $purple_bg;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, 0);

            &::hover {
              transform: scale(1.03);
              transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) both;
            }
            
          }

        }
      }
    }

    .footer {
      background-color: $primary_dark;
      width: 100%;
      justify-content: center;
      // margin: 0 0 16px 0;
    }
  }

}

